* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Roboto, Oxygen, BlinkMacSystemFont, "Segoe UI", Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 2rem 1rem;
    padding: 0;
    color: #272135;
}

/* search form (wrapper of search input) */
form.search {
    display: block;
    min-width: 300px;
    padding: 0;
    margin: 0;
}

/* search input */
input.search {
    width: 100%;
    border-radius: 1.5rem;
    border: 0.5px solid hsl(0, 0%, 40%);
    box-shadow: 0px 4px 16px -4px rgba(0, 0, 66, 0.25);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.search-bar {
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.search-bar h1 {
    color: #5393F2;
    font-weight: bold;
    margin: 0;
}

.search-bar.home {
    flex-direction: column;
    justify-content: center;
}

.search-bar a {
    text-decoration: none;
    margin: 0;
}


main ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

ul,
li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.episode a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: dodgerblue;
}

.episode a:visited {
    color: darkviolet;
}

.episode header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
}

.episode header h3 {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .episode header {
        flex-direction: column;
        align-items: start;
        gap: 0.25rem;
    }
}

.episode .tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
}

.episode span.duration {
    font-size: 0.8rem;
}

.episode .tag {
    color: white;
    font-weight: bold;
    background-color: hsla(235, 45%, 15%, 0.8);
    text-align: center;
    font-size: 0.75rem;
    padding: 4px 6px;
    border-radius: 4px;
}

.episode a {
    margin: 0;
    text-decoration: none;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}